body {
    background-color: rgb(229, 242, 241);
    font-family: 'Times New Roman', Times, serif
}

nav ul li {
    list-style-type: none;
    background-color: rgb(186, 219, 234);
    font-family: 'Arial Narrow Bold', sans-serif;
    width: 25%;
    padding: 1.5em;
    margin: 0.5em;
    text-align: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 0;
}

nav {
    margin: 0;
}

li a {
    color: cadetblue;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    border-left: 0.3em solid cadetblue;
    border-top: 0.3em solid cadetblue;
    padding-left: 1%;
}

.welcome {
    font-size: 2em;
    font-style: italic;
    color: cadetblue;
    background-color: rgb(229, 242, 241);
    margin: 3%;
}

img {
    border-radius: 5%;
}

h2 {
    background-color: rgb(186, 219, 234);
    padding: 0.5% 1%;
}

.note {
    font-size: 1.5em;
    border-left: 0.5em solid #92cfb8;
}

p {
    line-height: 20px;
    margin: 0 1%;
}

.profile {
    max-width: 300px;
    flex-grow: 1;
    margin-left: 5%;
}

.heads {
    display: flex;
    align-items: center;
}

figure {
    display: inline-block;
    margin-left: 5%;
}

.date {
    font-style: italic;
}
